<% include ../partials/header %>
  <h1>Add A New Recipe Book</h1>
  <form action="/recipe_books" method="post">
    <div>
      <input type="text" name="title" placeholder="New Recipe Book Category">
    </div>
    <div>
      <input type="hidden" name="dateCreated" value="<%= moment().format() %>">
    </div>
    <button class="waves-effect waves-light btn" type="submit" name="name">Submit</button>
  </form>
  <br>
  <a href="/">Back To Recipe Books</a>
<% include ../partials/footer %>
