<% include ../partials/header %>

  <form action="/recipe_books" method="post">
    <div>
      <input type="text" name="title" placeholder="Recipe Title">
    </div>
    <div>
      <input type="hidden" name="date" value="<%= moment().format() %>">
    </div>
    <input type="submit" name="name" value="Submit">
  </form>

<% include ../partials/footer %>
