<% include ../views/partials/header %>
<div class="jumbotron">
  <h1>Welcome To YouRecipe</h1>
  <p>
    A Simple App For Creating Recipe Books Online
  </p>
  <a class="waves-effect waves-light btn-large home-button1" href="/signup">Signup</a>
  <a class="waves-effect waves-light btn-large home-button2" href="/login">Login</a>
</div>
<% include ../views/partials/footer %>
