<% include ../partials/header %>
  //title, imageUrl, ingredients, directions

  <h1>Recipes in <%= book.title > book</h1>
  <% for(var i = 0; i < book.userRecipes; i++) { %>

  <%  %>
<% include ../partials/footer %>
