<% include ../partials/header %>

  <h1>Recipes in <%= recipeBook.title %> book</h1>

  <% for(var i = 0; i < recipeBook.userRecipes.length; i++) { %>
    <li><a href="/recipe_books/<%= recipeBook._id %>/user_recipes/<%= recipeBook.userRecipes[i]._id %>"><%= recipeBook.userRecipes[i].title %></a></li>
  <% } %>

<% include ../partials/footer %>
